extends ../../layout/index

block variables
  - var title = "About";
  - var description = "About Description";
  - var keyword = "about, description";

block styles

block content
  main
    .container about page

block scripts