extends ../../layout/index.pug

block variables
  - var title = "Home";
  - var description = "Home Description";
  - var keyword = "home, description";

block styles

block content
  main
    .container home page

block scripts