block variables
meta(charset='UTF-8')
meta(name='description' content=description)
meta(name='keywords' content=keyword)
meta(name='author' content=ProjectAuthor)
meta(name="copyright" content=ProjectName)
meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
meta(name="robots" content="index, follow")
meta(name='theme-color' content='#ff00ff')
link(rel='canonical' href='https://www.sampleproject.com/')
link(rel="shortcut icon" href='./assets/images/favicon/favicon.ico')
link(rel="icon" type="image/png" sizes="16x16" href='./assets/images/favicon/favicon-16x16.png')
link(rel="icon" type="image/png" sizes="32x32" href='./assets/images/favicon/favicon-32x32.png')
link(rel='manifest' href='./manifest.json')
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)

//- ℹ️ INFO: https://devhints.io/html-meta